# Titanic Survival Predictions

## Import Necessary Libraries
### data analysis libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### WARNING IGNORE

In [38]:
import warnings
warnings.filterwarnings('ignore')

### 2) Read in and Explore the Data
### Import train and test CSV files

In [39]:
train = pd.read_csv("F:\DATA SCIENCE PROJECT\ALL\DATASET\Titanic_train.csv")
test = pd.read_csv("F:\DATA SCIENCE PROJECT\ALL\DATASET\Titanic_test.csv")

### Head for Train data set & Test Data set

In [40]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

### take a look at the training data

In [42]:
print(train.describe(include="all"))

        PassengerId    Survived      Pclass  \
count    891.000000  891.000000  891.000000
unique          NaN         NaN         NaN
top             NaN         NaN         NaN
freq            NaN         NaN         NaN
mean     446.000000    0.383838    2.308642
std      257.353842    0.486592    0.836071
min        1.000000    0.000000    1.000000
25%      223.500000    0.000000    2.000000
50%      446.000000    0.000000    3.000000
75%      668.500000    1.000000    3.000000
max      891.000000    1.000000    3.000000

                                           Name   Sex         Age       SibSp  \
count                                       891   891  714.000000  891.000000
unique                                      891     2         NaN         NaN
top     Ford, Mrs. Edward (Margaret Ann Watson)  male         NaN         NaN
freq                                          1   577         NaN         NaN
mean                                        NaN   NaN   29.699118    0.523008
std                                         NaN   NaN   14.526497    1.102743
min                                         NaN   NaN    0.420000    0.000000
25%                                         NaN   NaN   20.125000    0.000000
50%                                         NaN   NaN   28.000000    0.000000
75%                                         NaN   NaN   38.000000    1.000000
max                                         NaN   NaN   80.000000    8.000000

             Parch  Ticket        Fare Cabin Embarked
count   891.000000     891  891.000000   204      889
unique         NaN     681         NaN   147        3
top            NaN  347082         NaN    G6        S
freq           NaN       7         NaN     4      644
mean      0.381594     NaN   32.204208   NaN      NaN
std       0.806057     NaN   49.693429   NaN      NaN
min       0.000000     NaN    0.000000   NaN      NaN
25%       0.000000     NaN    7.910400   NaN      NaN
50%       0.000000     NaN   14.454200   NaN      NaN
75%       0.000000     NaN   31.000000   NaN      NaN
max       6.000000     NaN  512.329200   NaN      NaN

### 3) Data Analysis
### get a list of the features within the dataset

In [43]:
print(train.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### see a sample of the dataset to get an idea of the variables

In [44]:
print(train.sample(5))

     PassengerId  Survived  Pclass                        Name   Sex   Age  \
570          571         1       2          Harris, Mr. George  male  62.0
704          705         0       3     Hansen, Mr. Henrik Juul  male  26.0
632          633         1       1   Stahelin-Maeglin, Dr. Max  male  32.0
162          163         0       3  Bengtsson, Mr. John Viktor  male  26.0
890          891         0       3         Dooley, Mr. Patrick  male  32.0

     SibSp  Parch       Ticket     Fare Cabin Embarked
570      0      0  S.W./PP 752  10.5000   NaN        S
704      1      0       350025   7.8542   NaN        S
632      0      0        13214  30.5000   B50        C
162      0      0       347068   7.7750   NaN        S
890      0      0       370376   7.7500   NaN        Q

### Numerical Features: Age (Continuous), Fare (Continuous), SibSp (Discrete), Parch (Discrete)
### Categorical Features: Survived, Sex, Embarked, Pclass
### Alphanumeric Features: Ticket, Cabin

### check for any other unusable values

In [45]:
print(pd.isnull(train).sum())

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

### Cleaning Data

In [46]:
print(test.describe(include="all"))

        PassengerId      Pclass                       Name   Sex         Age  \
count    418.000000  418.000000                        418   418  332.000000
unique          NaN         NaN                        418     2         NaN
top             NaN         NaN  Everett, Mr. Thomas James  male         NaN
freq            NaN         NaN                          1   266         NaN
mean    1100.500000    2.265550                        NaN   NaN   30.272590
std      120.810458    0.841838                        NaN   NaN   14.181209
min      892.000000    1.000000                        NaN   NaN    0.170000
25%      996.250000    1.000000                        NaN   NaN   21.000000
50%     1100.500000    3.000000                        NaN   NaN   27.000000
75%     1204.750000    3.000000                        NaN   NaN   39.000000
max     1309.000000    3.000000                        NaN   NaN   76.000000

             SibSp       Parch    Ticket        Fare            Cabin Embarked
count   418.000000  418.000000       418  417.000000               91      418
unique         NaN         NaN       363         NaN               76        3
top            NaN         NaN  PC 17608         NaN  B57 B59 B63 B66        S
freq           NaN         NaN         5         NaN                3      270
mean      0.447368    0.392344       NaN   35.627188              NaN      NaN
std       0.896760    0.981429       NaN   55.907576              NaN      NaN
min       0.000000    0.000000       NaN    0.000000              NaN      NaN
25%       0.000000    0.000000       NaN    7.895800              NaN      NaN
50%       0.000000    0.000000       NaN   14.454200              NaN      NaN
75%       1.000000    0.000000       NaN   31.500000              NaN      NaN
max       8.000000    9.000000       NaN  512.329200              NaN      NaN

### we'll start off by dropping the Cabin feature since not a lot more useful information can be extracted from it.

In [47]:
train = train.drop(['Cabin'], axis = 1)
test = test.drop(['Cabin'], axis = 1)

### we can also drop the Ticket feature since it's unlikely to yield any useful information

In [48]:
train = train.drop(['Ticket'], axis = 1)
test = test.drop(['Ticket'], axis = 1)

### now we need to fill in the missing values in the Embarked feature

In [49]:
print("Number of people embarking in Southampton (S):")
southampton = train[train["Embarked"] == "S"].shape[0]
print(southampton)

Number of people embarking in Southampton (S):
644

In [50]:
print("Number of people embarking in Cherbourg (C):")
cherbourg = train[train["Embarked"] == "C"].shape[0]
print(cherbourg)

Number of people embarking in Cherbourg (C):
168

In [51]:
print("Number of people embarking in Queenstown (Q):")
queenstown = train[train["Embarked"] == "Q"].shape[0]
print(queenstown)

Number of people embarking in Queenstown (Q):
77

### replacing the missing values in the Embarked feature with S

In [52]:
train = train.fillna({"Embarked": "S"})

### create a combined group of both datasets

In [53]:
combine = [train, test]

### extract a title for each Name in the train and test datasets

In [54]:
for dataset in combine:
    dataset['Title'] = dataset.Name.str.extract(' ([A-Za-z]+)\.', expand=False)

print(pd.crosstab(train['Title'], train['Sex']))

Sex       female  male
Title
Capt           0     1
Col            0     2
Countess       1     0
Don            0     1
Dr             1     6
Jonkheer       0     1
Lady           1     0
Major          0     2
Master         0    40
Miss         182     0
Mlle           2     0
Mme            1     0
Mr             0   517
Mrs          125     0
Ms             1     0
Rev            0     6
Sir            0     1

### replace various titles with more common names

In [55]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Lady', 'Capt', 'Col',
                                                 'Don', 'Dr', 'Major', 'Rev', 'Jonkheer', 'Dona'], 'Rare')

    dataset['Title'] = dataset['Title'].replace(['Countess', 'Lady', 'Sir'], 'Royal')
    dataset['Title'] = dataset['Title'].replace('Mlle', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Ms', 'Miss')
    dataset['Title'] = dataset['Title'].replace('Mme', 'Mrs')

print(train[['Title', 'Survived']].groupby(['Title'], as_index=False).mean())

    Title  Survived
0  Master  0.575000
1    Miss  0.702703
2      Mr  0.156673
3     Mrs  0.793651
4    Rare  0.285714
5   Royal  1.000000

### map each of the title groups to a numerical value

In [56]:
title_mapping = {"Mr": 1, "Miss": 2, "Mrs": 3, "Master": 4, "Royal": 5, "Rare": 6}
for dataset in combine:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    dataset['Title'] = dataset['Title'].fillna(0)

print(train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch     Fare Embarked  Title
0      0   7.2500        S      1
1      0  71.2833        C      3
2      0   7.9250        S      2
3      0  53.1000        S      3
4      0   8.0500        S      1

### Fill missing age with mode age group for each title

In [57]:
mr_age = train[train["Title"] == 1]["Age"].mode() #Young Adult
miss_age = train[train["Title"] == 2]["Age"].mode() #Student
mrs_age = train[train["Title"] == 3]["Age"].mode() #Adult
master_age = train[train["Title"] == 4]["Age"].mode() #Baby
royal_age = train[train["Title"] == 5]["Age"].mode() #Adult
rare_age = train[train["Title"] == 6]["Age"].mode() #Adult

age_title_mapping = {1: "Young Adult", 2: "Student", 3: "Adult", 4: "Baby", 5: "Adult", 6: "Adult"}

In [58]:
for x in range(len(train["Age"])):
    if train["Age"][x] == "Unknown":
        train["Age"][x] = age_title_mapping[train["Title"][x]]

for x in range(len(test["Age"])):
    if test["Age"][x] == "Unknown":
        test["Age"][x] = age_title_mapping[test["Title"][x]]

### map each Age value to a numerical value

In [59]:
age_mapping = {'Baby': 1, 'Child': 2, 'Teenager': 3, 'Student': 4, 'Young Adult': 5, 'Adult': 6, 'Senior': 7}
train['Age'] = train['Age'].map(age_mapping)
test['Age'] = test['Age'].map(age_mapping)

print(train.head())

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex  Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  NaN      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  NaN      1
2                             Heikkinen, Miss. Laina  female  NaN      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  NaN      1
4                           Allen, Mr. William Henry    male  NaN      0

   Parch     Fare Embarked  Title
0      0   7.2500        S      1
1      0  71.2833        C      3
2      0   7.9250        S      2
3      0  53.1000        S      3
4      0   8.0500        S      1

### dropping the Age feature for now, might change

In [60]:
train = train.drop(['Age'], axis = 1)
test = test.drop(['Age'], axis = 1)

## drop the name feature since it contains no more useful information.

In [61]:
train = train.drop(['Name'], axis = 1)
test = test.drop(['Name'], axis = 1)

### map each Sex value to a numerical value

In [62]:
sex_mapping = {"male": 0, "female": 1}
train['Sex'] = train['Sex'].map(sex_mapping)
test['Sex'] = test['Sex'].map(sex_mapping)
print(train.head())

   PassengerId  Survived  Pclass  Sex  SibSp  Parch     Fare Embarked  Title
0            1         0       3    0      1      0   7.2500        S      1
1            2         1       1    1      1      0  71.2833        C      3
2            3         1       3    1      0      0   7.9250        S      2
3            4         1       1    1      1      0  53.1000        S      3
4            5         0       3    0      0      0   8.0500        S      1

### map each Embarked value to a numerical value

In [63]:
embarked_mapping = {"S": 1, "C": 2, "Q": 3}
train['Embarked'] = train['Embarked'].map(embarked_mapping)
test['Embarked'] = test['Embarked'].map(embarked_mapping)

print(train.head())

   PassengerId  Survived  Pclass  Sex  SibSp  Parch     Fare  Embarked  Title
0            1         0       3    0      1      0   7.2500         1      1
1            2         1       1    1      1      0  71.2833         2      3
2            3         1       3    1      0      0   7.9250         1      2
3            4         1       1    1      1      0  53.1000         1      3
4            5         0       3    0      0      0   8.0500         1      1

### fill in missing Fare value in test set based on mean fare for that Pclass

In [64]:
for x in range(len(test["Fare"])):
    if pd.isnull(test["Fare"][x]):
        pclass = test["Pclass"][x]  # Pclass = 3
        test["Fare"][x] = round(train[train["Pclass"] == pclass]["Fare"].mean(), 4)

### map Fare values into groups of numerical values

In [65]:
train['FareBand'] = pd.qcut(train['Fare'], 4, labels=[1, 2, 3, 4])
test['FareBand'] = pd.qcut(test['Fare'], 4, labels=[1, 2, 3, 4])

###  drop Fare values

In [66]:
train = train.drop(['Fare'], axis=1)
test = test.drop(['Fare'], axis=1)
print(train.head())
print(test.head())

   PassengerId  Survived  Pclass  Sex  SibSp  Parch  Embarked  Title FareBand
0            1         0       3    0      1      0         1      1        1
1            2         1       1    1      1      0         2      3        4
2            3         1       3    1      0      0         1      2        2
3            4         1       1    1      1      0         1      3        4
4            5         0       3    0      0      0         1      1        2
   PassengerId  Pclass  Sex  SibSp  Parch  Embarked  Title FareBand
0          892       3    0      0      0         3      1        1
1          893       3    1      1      0         1      3        1
2          894       2    0      0      0         3      1        2
3          895       3    0      0      0         1      1        2
4          896       3    1      1      1         1      3        2

### Choosing the Best Model

### Splitting the Training Data

In [67]:
from sklearn.model_selection import train_test_split

predictors = train.drop(['Survived', 'PassengerId'], axis=1)
target = train["Survived"]
x_train, x_val, y_train, y_val = train_test_split(predictors, target, test_size = 0.3, random_state = 0)

### Testing Different Models
#### Gaussian Naive Bayes

In [70]:
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score
gaussian = GaussianNB()
gaussian.fit(x_train, y_train)
y_pred = gaussian.predict(x_val)
acc_gaussian = round(accuracy_score(y_pred, y_val) * 100, 2)
print("Naive Bayes",acc_gaussian)

Naive Bayes 79.1

#### Logistic Regression

In [71]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(x_train, y_train)
y_pred = logreg.predict(x_val)
acc_logreg = round(accuracy_score(y_pred, y_val) * 100, 2)
print("Logistic Regression",acc_logreg)

Logistic Regression 76.49

####  Support Vector Machines

In [72]:
from sklearn.svm import SVC

svc = SVC()
svc.fit(x_train, y_train)
y_pred = svc.predict(x_val)
acc_svc = round(accuracy_score(y_pred, y_val) * 100, 2)
print("SVM",acc_svc)

SVM 81.34

#### Linear SVC

In [73]:
from sklearn.svm import LinearSVC

linear_svc = LinearSVC()
linear_svc.fit(x_train, y_train)
y_pred = linear_svc.predict(x_val)
acc_linear_svc = round(accuracy_score(y_pred, y_val) * 100, 2)
print("LINEAR SVC",acc_linear_svc)

LINEAR SVC 77.61

####  Perceptron

In [74]:

from sklearn.linear_model import Perceptron
perceptron = Perceptron()
perceptron.fit(x_train, y_train)
y_pred = perceptron.predict(x_val)
acc_perceptron = round(accuracy_score(y_pred, y_val) * 100, 2)
print("Perceptron",acc_perceptron)

Perceptron 54.1

#### Decision Tree

In [75]:
from sklearn.tree import DecisionTreeClassifier
decisiontree = DecisionTreeClassifier()
decisiontree.fit(x_train, y_train)
y_pred = decisiontree.predict(x_val)
acc_decisiontree = round(accuracy_score(y_pred, y_val) * 100, 2)
print("Decision Tree",acc_decisiontree)

Decision Tree 81.34

#### Random Forest

In [76]:
from sklearn.ensemble import RandomForestClassifier
randomforest = RandomForestClassifier()
randomforest.fit(x_train, y_train)
y_pred = randomforest.predict(x_val)
acc_randomforest = round(accuracy_score(y_pred, y_val) * 100, 2)
print("RandomForest",acc_randomforest)

RandomForest 82.46

####  KNN or k-Nearest Neighbors

In [77]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_train, y_train)
y_pred = knn.predict(x_val)
acc_knn = round(accuracy_score(y_pred, y_val) * 100, 2)
print("K-NN",acc_knn)

K-NN 79.85

#### Stochastic Gradient Descent

In [78]:
from sklearn.linear_model import SGDClassifier
sgd = SGDClassifier()
sgd.fit(x_train, y_train)
y_pred = sgd.predict(x_val)
acc_sgd = round(accuracy_score(y_pred, y_val) * 100, 2)
print("SGD",acc_sgd)

SGD 79.48

#### Gradient Boosting Classifier

In [79]:
from sklearn.ensemble import GradientBoostingClassifier
gbk = GradientBoostingClassifier()
gbk.fit(x_train, y_train)
y_pred = gbk.predict(x_val)
acc_gbk = round(accuracy_score(y_pred, y_val) * 100, 2)
print("GradientBoostingClassifier",acc_gbk)

GradientBoostingClassifier 83.58

#### All in a dictionary

In [80]:
models = pd.DataFrame({
    'Model': ['Support Vector Machines', 'KNN', 'Logistic Regression',
              'Random Forest', 'Naive Bayes', 'Perceptron', 'Linear SVC',
              'Decision Tree', 'Stochastic Gradient Descent', 'Gradient Boosting Classifier'],
    'Score': [acc_svc, acc_knn, acc_logreg,
              acc_randomforest, acc_gaussian, acc_perceptron,acc_linear_svc, acc_decisiontree,
              acc_sgd, acc_gbk]})
print(models.sort_values(by='Score', ascending=False))

                          Model  Score
9  Gradient Boosting Classifier  83.58
3                 Random Forest  82.46
0       Support Vector Machines  81.34
7                 Decision Tree  81.34
1                           KNN  79.85
8   Stochastic Gradient Descent  79.48
4                   Naive Bayes  79.10
6                    Linear SVC  77.61
2           Logistic Regression  76.49
5                    Perceptron  54.10